* {
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Noto Serif", serif;
  box-sizing: border-box;
}

:root {
  --body-text-font: "Inter", sans-serif;
  --body-title-font: "Noto Serif", serif;
  --body-text-color: #00000080;
}
.btn {
  background-color: #e95a08;
  width: 270px;
  height: 50px;
  color: white;
  font-family: var(--body-text-font);
  border: none;
}

/* Navigation bar */
header {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 120px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 49px;
  list-style: none;
}
.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.navbar a {
  text-decoration: none;
  color: #8987a1;
  font-family: var(--body-text-font);
}
.home a {
  color: #252432;
  font-weight: 700;
}
.cart a {
  color: black;
}
/* hero section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: end;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.hero img {
  display: block;
}
.hero-details h1 {
  font-family: var(--body-title-font);
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.title-design {
  color: #e95a08;
}
.hero-details p {
  font-family: var(--body-text-font);
  color: var(--body-text-color);
}

/* Our plants section */
.our-plant {
  max-width: 1140px;
  margin: 0 auto;
}
.section-head {
  text-align: center;
}
.section-head h2 {
  font-family: var(--body-title-font);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.section-head p {
  font-family: var(--body-text-font);
  color: var(--body-text-color);
  margin-bottom: 49px;
  max-width: 888px;
}
.card-flower {
  text-align: center;
  width: 270px;
  height: 484.94px;
}
.card-flower img {
  margin-bottom: 30px;
}
.card-flower h4 {
  font-family: var(--body-text-font);
  font-size: 1.2rem;
  font-weight: 500px;
  margin-bottom: 20px;
}
.card-flower h3 {
  font-family: var(--body-text-font);
  font-size: 1.2rem;
  font-weight: 700px;
  margin-bottom: 20px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
  margin-bottom: 120px;
}

/* flower-plants-lover section */
.flower-plants-lover {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin-bottom: 120px;
}
.flower-plants-lover-right {
  max-width: 540px;
  padding-top: 38px;
  padding-bottom: 38px;
}
.flower-plants-lover-right h2 {
  font-family: var(--body-title-font);
  font-size: 3.5rem;
  margin-bottom: 20px;
  font-weight: 700px;
}
.flower-plants-lover-right ul {
  padding-left: 20px;
}
.flower-plants-lover-right li {
  max-width: 540px;
  margin-bottom: 20px;
  color: var(--body-text-color);
}
/* challenge section */
.challenge-section {
  max-width: 1140px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 120px;
}
.left-card-1 {
  background-image: url(../images/deal-bloom.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  border-radius: 8px;
  height: 206px;
  position: relative;
}
.left-card-2 {
  background-image: url(../images/deal-zabo.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  border-radius: 8px;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  height: 100%;
  position: relative;
}
.right-card {
  background-image: url(../images/deal-ana.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  border-radius: 8px;
  position: relative;
}
.deals-text {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.deals-text h3 {
  font-size: 2rem;
  font-weight: 600px;
}
.deals-text a {
  font-size: 1.5rem;
  font-weight: 600px;
  color: white;
}
/* join section */
.join-section {
  max-width: 1440px;
  height: 500px;
  background-image: url(../images/news-letter-bg.png);
  color: white;
  position: relative;
  margin-bottom: 120px;
}
.join-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
}
.join-text h2 {
  font-size: 3rem;
  margin-bottom: 24px;
}
.join-text input {
  width: 600px;
  height: 50px;
  padding: 15px;
  position: relative;
}
.join-text .btn {
  width: 185px;
  height: 50px;
  position: absolute;
  transform: translateX(-2px);
}
/* footer section */
.footer-section {
  max-width: 1440px;
}
footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-content: center;
  background-color: white;
  color: black;
  max-width: 1120px;
}
.footer-column li {
  list-style: none;
  margin-bottom: 20px;
  color: #6b7280;
}
.footer-column img {
  margin: 0 15px;
}
.footer-column p {
  margin-top: 15px;
  color: var(--body-text-color);
}
/* responsive media */
@media screen and (max-width: 576px) {
  .navbar {
    justify-content: space-between;
    align-items: center;
    margin: 13px 16px 28px;
  }
  .nav-item {
    visibility: hidden;
    flex-direction: column;
  }
  /* hero */
  .hero {
    flex-direction: column-reverse;
  }
  .hero h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .hero p {
    font-size: 14px;
  }
  .hero-details {
    margin: 28px 16px 30px 16px;
  }
  .section-head {
    padding: 10px;
    margin-top: 0;
  }
  .section-head h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .section-head p {
    font-size: 14px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .flower-plants-lover {
    flex-direction: column;
    gap: 28px;
  }
  .flower-plants-lover img {
    margin-bottom: 28px;
    display: block;
    max-width: 420px;
    height: auto;
  }
  .flower-plants-lover-right {
    padding: 20px;
  }
  .flower-plants-lover-right h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .flower-plants-lover-right p {
    font-size: 14px;
  }
  .challenge-section {
    grid-template-columns: repeat(1, 1fr);
  }
  .join-section {
    width: 500px;
  }
  .join-text input {
    width: 218px;
    margin: 0;
    padding: 0;
  }
  .join-text h2 {
    font-size: 1.2rem;
  }
  .join-text .btn {
    width: 80px;
    height: 50px;
  }
  footer {
    grid-template-columns: repeat(1, 1fr);
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer-column {
    margin: 10px 0px;
  }
  .footer-column img {
    margin-left: 0px;
  }
}
