* {
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Noto Serif", serif;
  box-sizing: border-box;
}

:root {
  --body-text-font: "Inter", sans-serif;
  --body-title-font: "Noto Serif", serif;
  --body-text-color: #00000080;
}
.btn {
  background-color: #e95a08;
  width: 270px;
  height: 50px;
  color: white;
  font-family: var(--body-text-font);
  border: none;
}

/* Navigation bar */
header {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 120px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 49px;
  list-style: none;
}
.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.navbar a {
  text-decoration: none;
  color: #8987a1;
  font-family: var(--body-text-font);
}
.home a {
  color: #252432;
  font-weight: 700;
}
.cart a {
  color: black;
}
/* hero section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: end;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.hero img {
  display: block;
}
.hero-details h1 {
  font-family: var(--body-title-font);
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.title-design {
  color: #e95a08;
}
.hero-details p {
  font-family: var(--body-text-font);
  color: var(--body-text-color);
}

/* Our plants section */
.our-plant {
  max-width: 1140px;
  margin: 0 auto;
}
.section-head {
  text-align: center;
}
.section-head h2 {
  font-family: var(--body-title-font);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.section-head p {
  font-family: var(--body-text-font);
  color: var(--body-text-color);
  margin-bottom: 49px;
  max-width: 888px;
}
.card-flower {
  text-align: center;
  width: 270px;
  height: 484.94px;
}
.card-flower img {
  margin-bottom: 30px;
}
.card-flower h4 {
  font-family: var(--body-text-font);
  font-size: 1.2rem;
  font-weight: 500px;
  margin-bottom: 20px;
}
.card-flower h3 {
  font-family: var(--body-text-font);
  font-size: 1.2rem;
  font-weight: 700px;
  margin-bottom: 20px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
}
/* responsive media */
@media screen and (max-width: 576px) {
  .navbar {
    justify-content: space-between;
    align-items: center;
    margin: 13px 16px 28px;
  }
  .nav-item {
    visibility: hidden;
    flex-direction: column;
  }
  /* hero */
  .hero {
    flex-direction: column-reverse;
  }
  .hero h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .hero-details {
    margin: 28px 16px 65px 16px;
  }
}
